*,
body,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;/* THIS REPRESENT 10PX 10/16*100=10*/
}
body{
    line-height: 1.8;
    background-color: #eeeeee;
    position: relative;
    font-family: lato, sans-serif;
}
/* ------------- Global  Styling --------- */
ul{ list-style: none; }
a{ text-decoration: none; }

:root{
    /* Theme Colors */
    --text-gray: #3f4954;
    --brand-color:#0860b5;
    --light-blue: #0033cc;
    --light-grey-1: #f7f7f7;
    --light-grey-2:#f4f4f4;

}
/*/////////////////////////////////////
HEADER*/
.header{
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    width: 100%;
    height: 6rem;
    background-color: #40474d;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 5px 5px #707070;
}

/*/////////////////////////////////////
SIDE NAV*/
.side-nav{
    position: fixed;
    top: 6rem;
    left:0;
    z-index: 100;
    height: 100vh;
    width: 25rem;
    background-color: #2b2b33;
    box-shadow: 5px 5px 5px rgba(112,112,112,0.6);
    font-size: 1.4rem;
    color: #fff;
}

.side-nav__link:link,
.side-nav__link:visited{
    display: block;
    padding: 1.5rem;
    width: 100%;
    color: #eee;
}

.side-nav__link:hover{
    background-color:var(--brand-color);
}
.collapse-menu{ display: none; }
.collapse-menu li .side-nav__link{
    padding-left: 3.8rem;
}


/* Mobile Navigation  */
.mobile-nav-icon{
    position: absolute;
    top: 0;
    right: 3rem;
    cursor: pointer;
    margin-top: 1.5rem;
    display: none;
}


.mobile-nav-icon i{
    font-size: 2.5rem;
    color: #fff;
}




/*/////////////////////////////////////
MAIN*/
.main{
    max-width: 114rem;
    margin-top: 6rem;
    margin-left: 25rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
/*/////////////////////////////////////
HEADING*/
.heading-primary{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
    margin-left: 2rem;
}
.heading-tertiary{
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}


/*/////////////////////////////////////
FLEX CONTAINER AND ITEMS*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.wrapper__item{
    flex:0 0 31%;
    margin-bottom: 2rem;
}

.wrapper__item:not(:last-child){
    margin-right: 2rem;
}

.wrapper__item-link:link,
.wrapper__item-link:visited{
    text-decoration: none;
    color: #000;
}

.wrapper__item-div{
    height: 100%;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,0.2);
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.wrapper .wrapper__item:nth-child(1){
    background-color: #ef1c63;
}

.wrapper .wrapper__item:nth-child(2){
    background-color: #5a279d;
}

.wrapper .wrapper__item:nth-child(3){
    background-color:  #000058;
}

.wrapper .wrapper__item:nth-child(4){
    background-color: #ff9a0c;
}

.wrapper .wrapper__item:nth-child(5){
    background-color: #292d39;
}
.wrapper .wrapper__item:nth-child(6){
    background-color: #357da3;
}

.wrapper .wrapper__item:nth-child(7){
    background-color: #009683;
}

.wrapper .wrapper__item:nth-child(8){
    background-color: #31a8e6;
}

.wrapper .wrapper__item:nth-child(9){
    background-color: #66c766;
}

.wrapper .wrapper__item:nth-child(10){
   background-color: #f85f5a;
}

.wrapper .wrapper__item:nth-child(11){
    background-color: #63c7eb;
}

.wrapper__item-div:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    transform: translateY(-1rem);
}
.wrapper__item-div:active{
    box-shadow: 0 .3rem .3rem rgba(0,0,0,0.3);
    transform: translateY(0);
}

.wrapper-item__icon{ font-size: 4rem; }

.wrapper__item-label{
    margin-bottom: 0;
    font-family: helvetica;
    font-size: 1.6rem;
}
.wrapper__item-count{ font-size: 3rem; }







/* Viewport less than or equal to 900px */
@media screen and (max-width: 56.25em){
    html{ font-size: 56.25%; }/* THIS REPRESENT 9PX 9/16*100=9*/

    .side-nav{ display: none; }

    .mobile-nav-icon{ display: initial; }

    .main{
        
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper{ justify-content: center;}


    .wrapper__item{
        flex:0 0 22%; 
        margin: 0 1rem !important;
        margin-bottom: 2rem !important;
    }

    
}



/* Viewport less than or equal to 768px */
@media screen and (max-width:  48em){
   /* .wrapper__item{ flex:0 0 70%;  }*/
    
}


/* Viewport less than or equal to 600px */
@media screen and (max-width: 37.5em){

    .wrapper__item{ flex:0 0 30%; }
}

/* Viewport less than or equal to 500px */
@media screen and (max-width: 31.25em){

    .wrapper__item{ flex:0 0 90%; }
}

